div {
  background: #aaaaaa;
  background: linear-gradient(#FF3F33, #33B8FF);
    height: 4000px;
    background-attachment: fixed;
    background-position: top right;
}

H1  {
    font-family: sans-serif;
    font-size: 3000%;
    text-align: center;
}

H2  {
    font-family: cursive;
    font-size: 3000%;
    text-align: center;
    font-style: italic;
}